<!DOCTYPE html>
<html ng-app="memoryGame">
<head>
	<title> Memory game</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/app.css">

	<script src="bower_components/angular/angular.min.js"></script>

	<script src="js/tile.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>

</head>
<body ng-controller="gameCtrl as game">
	<section class="intro">
		<div class="container">
			<h1> Memory game </h1>
			<h2> Click on the button to begin </h2>
			<button ng-click="game.startGame()"> START </button>
		</div>
	</section>

	<section class="game-field">
		<div class="game-field-intro">
			<h2> Number of attempts: {{game.tries}}</h2>
			<h3 ng-show="game.pairsLeft == 0"> Congratulations! </h3>
		</div>
		<div class="container">
			<div class="card-container" ng-repeat="g in game.grid track by $index" ng-click="!game.preventClick && game.flipTile(g)">
				<div class="card" ng-class="{flipped: g.flipped}">
					<img class="tile front" src="{{g.img}}">
					<img class="tile back" src="img/back.jpg">
				</div>
			</div>
		</div>
	</section>
</body>
</html>