.game-field {
    .game-field-intro {
        text-align: center;
        color: $white;
        font-weight: 300;
    }

    .container {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 40px;

        @media screen and (min-width: 768px) {
            max-width: 600px;
            padding: 0 20px;
        }
    }
}